/*------------------------------------------------------------------
Advanced Heading
-------------------------------------------------------------------*/
.amadeus-advanced-heading {
	position: relative;
}

.amadeus-advanced-heading .amadeus-has-bg.amadeus-background-heading > div, .amadeus-advanced-heading .amadeus-has-bg.amadeus-main-heading > div, .amadeus-advanced-heading .amadeus-has-bg.amadeus-sub-heading > div {
	background-color: transparent;
	background-image: linear-gradient(180deg, #26cdff 0%, #3c4ce5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.amadeus-advanced-heading .amadeus-background-heading {
	position: absolute;
	top: 0;
	width: 100%;
	font-size: 60px;
	font-weight: 700;
	line-height: 1;
	color: rgba(0, 0, 0, 0.03);
	text-transform: uppercase;
	z-index: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.amadeus-advanced-heading .amadeus-background-heading > div {
	display: inline-block;
}

.amadeus-advanced-heading .amadeus-main-heading {
	margin: 0;
	padding: 0;
}

.amadeus-advanced-heading .amadeus-main-heading,
.amadeus-advanced-heading .amadeus-sub-heading {
	position: relative;
	z-index: 1;
}

.amadeus-advanced-heading .amadeus-main-heading > div,
.amadeus-advanced-heading .amadeus-sub-heading > div {
	display: inline-block;
	vertical-align: middle;
}

.amadeus-advanced-heading .amadeus-sub-heading {
	text-transform: uppercase;
}

.amadeus-advanced-heading .amadeus-line:after {
	content: '';
	background-color: #3c4ce5;
	display: inline-block;
	width: 40px;
	height: 2px;
	vertical-align: middle;
}

.amadeus-advanced-heading .amadeus-line-align-left {
	float: left;
}

.amadeus-advanced-heading .amadeus-line-align-right {
	float: right;
}

.amadeus-advanced-heading .amadeus-line-align-bottom {
	line-height: 0;
}

.amadeus-background-heading-left .amadeus-background-heading {
	text-align: left;
}

.amadeus-background-heading-center .amadeus-background-heading {
	text-align: center;
}

.amadeus-background-heading-right .amadeus-background-heading {
	text-align: right;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	.amadeus-tablet-background-heading-left .amadeus-background-heading {
		text-align: left;
	}
	.amadeus-tablet-background-heading-center .amadeus-background-heading {
		text-align: center;
	}
	.amadeus-tablet-background-heading-right .amadeus-background-heading {
		text-align: right;
	}
	.elementor-align-tablet-left {
		text-align: left;
	}
	.elementor-align-tablet-center {
		text-align: center;
	}
	.elementor-align-tablet-right {
		text-align: right;
	}
	.amadeus-hide-tm {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.amadeus-mobile-background-heading-left .amadeus-background-heading {
		text-align: left;
	}
	.amadeus-mobile-background-heading-center .amadeus-background-heading {
		text-align: center;
	}
	.amadeus-mobile-background-heading-right .amadeus-background-heading {
		text-align: right;
	}
	.elementor-align-mobile-left {
		text-align: left;
	}
	.elementor-align-mobile-center {
		text-align: center;
	}
	.elementor-align-mobile-right {
		text-align: right;
	}
	.amadeus-hide-m {
		display: none;
	}
}
