/*------------------------------------------------------------------
Alert Message
-------------------------------------------------------------------*/
.amadeus-alert {
	padding: 30px;
	text-align: left;
}

.amadeus-alert .amadeus-alert-heading {
	font-size: 14px;
	text-transform: uppercase;
}

.amadeus-alert .amadeus-alert-icon {
	width: 1em;
	height: 1em;
	line-height: 1;
	font-size: 16px;
	text-align: center;
	margin-right: 10px;
}

.amadeus-alert-content-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.amadeus-alert-content-wrap p:last-child {
	margin: 0;
}

/* Small style */
.amadeus-alert.amadeus-alert-small {
	font-weight: 600;
	line-height: 16px;
	padding: 11px 20px;
}

.amadeus-alert-small {
	border: 1px solid transparent;
}

.amadeus-alert-small.amadeus-alert-notice {
	color: #b5b5b5;
	background-color: #fbfcfc;
	border-color: #e9e9e9;
}

.amadeus-alert-small.amadeus-alert-error {
	color: #e75744;
	background-color: #ffdfdf;
	border-color: #fdBdB5;
}

.amadeus-alert-small.amadeus-alert-warning {
	color: #de9606;
	background-color: #fcf8e3;
	border-color: #e7db9e;
}

.amadeus-alert-small.amadeus-alert-success {
	color: #3cb37d;
	background-color: #dff0d8;
	border-color: #bddeaf;
}

.amadeus-alert-small.amadeus-alert-info {
	color: #56afdc;
	background-color: #d9edf7;
	border-color: #a5e1ff;
}

/* Big style */
.amadeus-alert.amadeus-alert-big {
	padding: 32px 50px;
	border-radius: 2px;
}

.amadeus-alert-big {
	border: 1px solid transparent;
}

.amadeus-alert-big .amadeus-alert-heading {
	margin: 0 0 8px;
}

.amadeus-alert-big .amadeus-alert-icon {
	font-size: 30px;
}

.amadeus-alert-big.amadeus-alert-notice {
	color: #b5b5b5;
	background-color: #fbfcfc;
	border-color: #e9e9e9;
}

.amadeus-alert-big.amadeus-alert-notice .amadeus-alert-heading {
	color: #b5b5b5;
}

.amadeus-alert-big.amadeus-alert-error {
	color: #e75744;
	background-color: #ffdfdf;
	border-color: #fdBdB5;
}

.amadeus-alert-big.amadeus-alert-error .amadeus-alert-heading {
	color: #e75744;
}

.amadeus-alert-big.amadeus-alert-warning {
	color: #de9606;
	background-color: #fcf8e3;
	border-color: #e7db9e;
}

.amadeus-alert-big.amadeus-alert-warning .amadeus-alert-heading {
	color: #de9606;
}

.amadeus-alert-big.amadeus-alert-success {
	color: #3cb37d;
	background-color: #dff0d8;
	border-color: #bddeaf;
}

.amadeus-alert-big.amadeus-alert-success .amadeus-alert-heading {
	color: #3cb37d;
}

.amadeus-alert-big.amadeus-alert-info {
	color: #56afdc;
	background-color: #d9edf7;
	border-color: #a5e1ff;
}

.amadeus-alert-big.amadeus-alert-info .amadeus-alert-heading {
	color: #56afdc;
}

/* Minimal style */
.amadeus-alert.amadeus-alert-minimal {
	padding: 36px 50px;
	border-radius: 2px;
}

.amadeus-alert-minimal {
	border: 1px solid #e9e9e9;
}

.amadeus-alert-minimal .amadeus-alert-heading {
	margin: 0 0 6px;
}

.amadeus-alert-minimal .amadeus-alert-content-wrap {
	color: #b5b5b5;
	line-height: 24px;
}

.amadeus-alert-minimal .amadeus-alert-icon {
	font-size: 24px;
	border: 5px solid transparent;
	width: 64px;
	height: 64px;
	line-height: 54px;
	border-radius: 50%;
	text-align: center;
}

.amadeus-alert-minimal.amadeus-alert-notice .amadeus-alert-icon {
	color: #b5b5b5;
	background-color: #fbfcfc;
	border-color: #e9e9e9;
}

.amadeus-alert-minimal.amadeus-alert-error .amadeus-alert-icon {
	color: #d52e13;
	background-color: #fd7761;
	border-color: #f55c43;
}

.amadeus-alert-minimal.amadeus-alert-warning .amadeus-alert-icon {
	color: #a47503;
	background-color: #ffc12d;
	border-color: #f9b718;
}

.amadeus-alert-minimal.amadeus-alert-success .amadeus-alert-icon {
	color: #558502;
	background-color: #97e411;
	border-color: #7bc200;
}

.amadeus-alert-minimal.amadeus-alert-info .amadeus-alert-icon {
	color: #0787d4;
	background-color: #6fd9fc;
	border-color: #47b4f6;
}

/* RTL */
body.rtl .amadeus-alert {
	text-align: right;
}

body.rtl .amadeus-alert .amadeus-alert-icon {
	margin-right: 0;
	margin-left: 10px;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	.amadeus-alert-big .amadeus-alert-content-wrap,
	.amadeus-alert-minimal .amadeus-alert-content-wrap {
		text-align: center;
		flex-direction: column;
	}
	.amadeus-alert-big .amadeus-alert-icon,
	.amadeus-alert-minimal .amadeus-alert-icon {
		margin: 0 0 10px;
	}
}
