/*------------------------------------------------------------------
Blog Carousel
-------------------------------------------------------------------*/
.amadeus-carousel {
	margin: 0;
}

.amadeus-carousel .swiper-container {
	width: 95%;
}

.amadeus-carousel .swiper-container.has-dots {
	padding-bottom: 10px;
}

.amadeus-carousel .amadeus-carousel-slide {
	padding: 0 15px;
}

.amadeus-carousel .amadeus-carousel-item {
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.amadeus-carousel .amadeus-carousel-entry-media img {
	width: 100%;
}

.amadeus-carousel .amadeus-carousel-entry-details {
	background-color: #fff;
	padding: 20px;
}

.amadeus-carousel .amadeus-carousel-title {
	font-size: 1.1em;
	font-weight: 500;
	line-height: 1.4;
	margin: 0 0 10px;
	text-transform: capitalize;
}

.amadeus-carousel .amadeus-meta {
	display: block;
	font-size: 12px;
	margin: 0 0 8px;
	padding: 0;
	list-style: none;
}

.amadeus-carousel .amadeus-meta li {
	display: inline-block;
	margin-right: 8px;
}

.amadeus-carousel .amadeus-meta li svg {
	margin-right: 4px;
	fill: #3c4ce5;
	font-size: 12px;
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

.amadeus-carousel .amadeus-meta li:last-child {
	margin-right: 0;
}

.amadeus-carousel p {
	margin: 0 0 10px;
}

.amadeus-carousel p:last-child {
	margin: 0;
}

.amadeus-carousel .readmore-btn {
	display: block;
	margin-top: 20px;
}

.amadeus-carousel .readmore-btn a {
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	background-color: #3c4ce5;
	color: #fff;
	border-radius: 5px;
	padding: 10px 20px;
}

.amadeus-carousel .readmore-btn a:hover {
	background-color: #6a79ff;
}

.amadeus-carousel .amadeus-swiper-buttons {
	background-image: none;
	color: #222;
	outline: none;
	margin-top: 0;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	top: calc(50% - (20px/2));
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.amadeus-carousel .swiper-button-next {
	right: 0;
}

.amadeus-carousel .swiper-button-prev {
	left: 0;
}

.amadeus-carousel .swiper-pagination {
	position: static;
	bottom: 0;
	left: 0;
	width: 100%;
}

.amadeus-carousel .swiper-pagination-bullet {
	background: #ccc;
	margin: 0 4px;
	height: 8px;
	width: 8px;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.amadeus-carousel .swiper-pagination-bullet-active {
	background: #000;
}

.amadeus-carousel .swiper-container-coverflow .amadeus-carousel-slide {
	padding: 0;
}

/* RTL */
body.rtl .amadeus-carousel .amadeus-meta li {
	margin-left: 8px;
	margin-right: 0;
}

body.rtl .amadeus-carousel .amadeus-meta li svg {
	margin-right: 0;
	margin-left: 4px;
}

body.rtl .amadeus-carousel .amadeus-meta li:last-child {
	margin-left: 0;
}

body.rtl .amadeus-carousel .swiper-button-next {
	right: auto;
	left: 0;
}

body.rtl .amadeus-carousel .swiper-button-prev {
	left: auto;
	right: 0;
}
