/*------------------------------------------------------------------
Brands
-------------------------------------------------------------------*/
.amadeus-brands .amadeus-brands-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.amadeus-brands .amadeus-brands-item {
	width: calc( 100% / 4);
	padding: 0 10px;
	margin-bottom: 20px;
}

.amadeus-brands .amadeus-brands-name {
	margin: 10px 0 5px;
}

.amadeus-brands .amadeus-brands-desc {
	color: #777;
}
