/*------------------------------------------------------------------
Buttons
-------------------------------------------------------------------*/
.amadeus-buttons {
	list-style: none;
	padding: 0;
	margin: 0;
}

.amadeus-buttons li {
	display: inline-block;
	margin-left: 12px;
}

.amadeus-buttons li:first-child {
	margin-left: 0 !important;
}

.amadeus-buttons li a {
	display: inline-block;
	padding: 12px 24px;
	background-color: #3c4ce5;
	color: #fff;
	line-height: 1;
	text-align: center;
	border-radius: 3px;
}

.amadeus-buttons li a:hover {
	background-color: #222222;
}

.amadeus-buttons li .amadeus-button-icon i, .amadeus-buttons li .amadeus-button-icon svg {
	width: 1em;
	height: 1em;
	position: relative;
	vertical-align: middle;
}

.rtl .amadeus-buttons li {
	margin-right: 12px;
	margin-left: 0;
}

.rtl .amadeus-buttons li:first-child {
	margin-right: 0 !important;
}
