/*------------------------------------------------------------------
Off Canvas
-------------------------------------------------------------------*/
.amadeus-circle-progress-wrap {
	text-align: center;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress {
	text-align: center;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress svg {
	margin: 0 auto;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress svg ellipse {
	stroke: #f6f6f6;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress svg path {
	stroke: #3c4ce5;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress .amadeus-circle-progress-middle {
	font-size: 45px;
	font-weight: 700;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress.amadeus-cp-square svg path {
	stroke-linecap: square;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress.amadeus-cp-round svg path {
	stroke-linecap: round;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress.amadeus-cp-butt svg path {
	stroke-linecap: butt;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress .amadeus-circle-progress-label {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.amadeus-circle-progress-wrap .amadeus-circle-progress .amadeus-circle-progress-label div {
	line-height: 1.3;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress .amadeus-circle-progress-svg {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress .amadeus-circle-progress-svg svg {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: auto;
}

.amadeus-circle-progress-wrap .amadeus-circle-progress-content {
	margin-top: 15px;
}

/* RTL */
body.rtl .amadeus-circle-progress-label {
	right: 0;
	left: auto;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
