/*------------------------------------------------------------------
Google Map
-------------------------------------------------------------------*/
.amadeus-google-map button {
	min-height: auto;
	min-width: auto;
	font-size: inherit;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0;
	border-radius: 0;
	border: 0;
	box-shadow: none;
}
