/*------------------------------------------------------------------
Instagram Feed
-------------------------------------------------------------------*/
.amadeus-insta .amadeus-insta-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 14px;
}

.amadeus-insta .amadeus-insta-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	flex: 1;
}

.amadeus-insta .amadeus-insta-avatar {
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.amadeus-insta .amadeus-insta-avatar img {
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-o-object-fit: cover;
	object-fit: cover;
}

.amadeus-insta .amadeus-insta-username {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;
	margin: 0 0 4px;
	text-transform: uppercase;
}

.amadeus-insta .amadeus-insta-desc {
	font-size: 13px;
	line-height: 1.3;
	margin: 0;
	padding-top: 4px;
}

.amadeus-insta .amadeus-insta-button {
	margin-left: 10px;
}

.amadeus-insta .amadeus-insta-button a {
	display: inline-block;
	background-color: #0095f6;
	color: #fff;
	padding: 12px 20px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 0.5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.amadeus-insta .amadeus-insta-button a:hover {
	background-color: #0065a7;
}

.amadeus-insta .amadeus-insta-button svg {
	vertical-align: middle;
	font-size: 16px;
	height: 1em;
	margin-right: 10px;
}

.amadeus-insta .amadeus-insta-pictures {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.amadeus-insta .amadeus-insta-item {
	width: calc( 100% / 5);
}

.amadeus-insta .amadeus-insta-item .amadeus-insta-item-inner {
	position: relative;
	overflow: hidden;
}

.amadeus-insta .amadeus-insta-item .amadeus-insta-gallery-icon {
	position: absolute;
	right: 8px;
	top: 8px;
}

.amadeus-insta .amadeus-insta-item .amadeus-insta-gallery-icon svg {
	display: block;
	height: 1em;
	z-index: 1;
	fill: #fff;
	-webkit-filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.4));
}

.amadeus-insta .amadeus-insta-item .amadeus-insta-icon {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 1;
	background-color: rgba(99, 139, 229, 0.7);
	color: #fff;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.amadeus-insta .amadeus-insta-item .amadeus-insta-icon svg {
	width: 20px;
}

.amadeus-insta .amadeus-insta-item:hover .amadeus-insta-icon {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* RTL */
body.rtl .amadeus-insta .amadeus-insta-avatar {
	margin-left: 10px;
	margin-right: 0;
}

body.rtl .amadeus-insta .amadeus-insta-button {
	margin-right: 10px;
	margin-left: 0;
}

body.rtl .amadeus-insta .amadeus-insta-button svg {
	margin-left: 10px;
	margin-right: 0;
}

/* Responsive */
@media only screen and (max-width: 768px) {
	.amadeus-insta .amadeus-insta-left {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		text-align: center;
	}
	.amadeus-insta .amadeus-insta-avatar {
		margin: 0 0 10px;
	}
	.amadeus-insta .amadeus-insta-button {
		display: none;
	}
}
