/*------------------------------------------------------------------
MailChimp
-------------------------------------------------------------------*/
.amadeus-mailchimp-wrap .amadeus-field.amadeus-mc-submit {
	margin: 0 !important;
}

.amadeus-mailchimp-wrap .amadeus-field label {
	display: block;
	margin: 0 0 10px;
}

.amadeus-mailchimp-wrap .amadeus-field .amadeus-mc-input {
	font-size: 13px;
	border: 1px solid #ddd;
	border-radius: 0;
	padding: 12px 16px;
	outline: none;
	max-width: 100%;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.amadeus-mailchimp-wrap .amadeus-field .amadeus-mc-subscribe {
	display: block;
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	background-color: #3c4ce5;
	color: #fff;
	border: 0;
	border-radius: 0;
	padding: 16px 20px;
	outline: none;
	min-height: auto;
	min-width: auto;
}

.amadeus-mailchimp-wrap .amadeus-field .amadeus-mc-subscribe:hover {
	background-color: #6a79ff;
}

.amadeus-mailchimp-wrap.amadeus-mc-blocks .amadeus-field {
	margin: 0 0 14px;
}

.amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields .amadeus-field {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-right: 5px;
}

.amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields .amadeus-field .amadeus-mc-input {
	-webkit-box-flex: 1;
	-ms-flex: 1 100%;
	flex: 1 100%;
}

.amadeus-mailchimp-wrap .amadeus-mc-message {
	display: none;
	text-align: center;
	margin: 15px 0 0;
}

.amadeus-mailchimp-wrap .amadeus-mc-message.amadeus-mc-success-text {
	color: #28ab28;
}

.amadeus-mailchimp-wrap .amadeus-mc-message.amadeus-mc-error-text {
	color: #fe5252;
}

.amadeus-mailchimp-wrap .amadeus-mc-message p {
	margin: 0;
}

/* RTL */
body.rtl .amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields .amadeus-field {
	margin-right: 0;
	margin-left: 5px;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media (max-width: 960px) {
	.amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields {
		flex-direction: column;
	}
	.amadeus-mailchimp-wrap.amadeus-mc-inline .amadeus-form-fields .amadeus-field {
		margin: 0 0 10px;
	}
}
