/*------------------------------------------------------------------
Scroll Up
-------------------------------------------------------------------*/
.amadeus-scroll-button .elementor-align-icon-left {
	margin-left: 4px;
}

.amadeus-scroll-button .elementor-align-icon-right {
	margin-right: 4px;
}

.amadeus-scroll-button .amadeus-button-icon i, .amadeus-scroll-button .amadeus-button-icon svg {
	width: 1em;
	height: 1em;
}

.amadeus-scroll-button a {
	min-width: 40px;
	min-height: 40px;
	line-height: 40px;
	padding: 0;
}

.amadeus-align-left {
	text-align: left;
}

.amadeus-align-center {
	text-align: center;
}

.amadeus-align-right {
	text-align: right;
}

.amadeus-align-justify .amadeus-scroll-button a {
	width: 100%;
}

.elementor-widget-wrap .elementor-widget-amadeus-scroll-up.amadeus-fixed-yes {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: auto;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
	z-index: 100;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.elementor-widget-wrap .elementor-widget-amadeus-scroll-up.amadeus-fixed-yes.amadeus-button-position-left {
	left: 20px;
	right: auto;
}

body.elementor-editor-active .elementor-widget-wrap .elementor-widget-amadeus-scroll-up.amadeus-fixed-yes {
	display: block;
}

/* RTL */
body.rtl .amadeus-scroll-button .elementor-align-icon-left {
	margin-right: 4px;
	margin-left: 0;
}

body.rtl .amadeus-scroll-button .elementor-align-icon-right {
	margin-left: 4px;
	margin-right: 0;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
	.amadeus-tablet-align-left {
		text-align: left;
	}
	.amadeus-tablet-align-center {
		text-align: center;
	}
	.amadeus-tablet-align-right {
		text-align: right;
	}
}

@media only screen and (max-width: 767px) {
	.amadeus-mobile-align-left {
		text-align: left;
	}
	.amadeus-mobile-align-center {
		text-align: center;
	}
	.amadeus-mobile-align-right {
		text-align: right;
	}
}
