/*------------------------------------------------------------------
Tabs
-------------------------------------------------------------------*/
.amadeus-tabs .amadeus-tabs-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.amadeus-tabs .amadeus-tabs-wrap.amadeus-tabs-normal.amadeus-tabs-center {
	-webkit-justify-content: center;
	justify-content: center;
}

.amadeus-tabs .amadeus-tabs-wrap.amadeus-tabs-normal.amadeus-tabs-right {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}

.amadeus-tabs .amadeus-tabs-wrap.amadeus-tabs-normal.amadeus-tabs-justify .amadeus-tab-title {
	flex: 1;
	flex-basis: 1px;
	text-align: center;
}

.amadeus-tabs.amadeus-tabs-left, .amadeus-tabs.amadeus-tabs-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.amadeus-tabs.amadeus-tabs-left .amadeus-tabs-wrap, .amadeus-tabs.amadeus-tabs-right .amadeus-tabs-wrap {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.amadeus-tabs.amadeus-tabs-left .amadeus-tabs-content-wrap, .amadeus-tabs.amadeus-tabs-right .amadeus-tabs-content-wrap {
	flex: 1;
	flex-basis: 1px;
}

.amadeus-tabs.amadeus-tabs-right .amadeus-tabs-wrap {
	order: 2;
}

.amadeus-tabs .amadeus-tab-title {
	position: relative;
	padding: 20px 25px;
	font-weight: 600;
	line-height: 1;
	cursor: pointer;
}

.amadeus-tabs .amadeus-tab-title.amadeus-active {
	background-color: #3c4ce5;
	color: #fff;
}

.amadeus-tabs .amadeus-tab-title .amadeus-icon-align-left {
	margin-right: 3px;
}

.amadeus-tabs .amadeus-tab-title .amadeus-icon-align-right {
	margin-left: 3px;
}

.amadeus-tabs .amadeus-tab-title i, .amadeus-tabs .amadeus-tab-title svg {
	width: 1em;
	height: 1em;
	vertical-align: bottom;
}

.amadeus-tabs .amadeus-tab-mobile-title {
	display: block;
	width: 100%;
	padding: 15px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top-width: 0 !important;
}

.amadeus-tabs .amadeus-tab-mobile-title:first-child {
	border-top-width: 0 !important;
}

.amadeus-tabs .amadeus-tabs-content-wrap {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.amadeus-tabs .amadeus-tabs-content-wrap .amadeus-tab-content {
	display: none;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-top: 0;
}

.amadeus-tabs .amadeus-tabs-content-wrap .amadeus-tab-content.amadeus-active {
	display: block;
}

.amadeus-tabs .amadeus-tabs-content-wrap p:last-child {
	margin-bottom: 0;
}

.amadeus-tabs.amadeus-tabs-bottom {
	display: flex;
	flex-direction: column;
}

.amadeus-tabs.amadeus-tabs-bottom .amadeus-tabs-wrap {
	order: 2;
}

/* RTL */
body.rtl .amadeus-tabs .amadeus-tab-title .amadeus-icon-align-left {
	margin-left: 3px;
	margin-right: 0;
}

body.rtl .amadeus-tabs .amadeus-tab-title .amadeus-icon-align-right {
	margin-right: 3px;
	margin-left: 0;
}

/*------------------------------------------------------------------
Responsive
-------------------------------------------------------------------*/
@media (min-width: 767px) {
	.amadeus-tabs .amadeus-tab-mobile-title {
		display: none;
	}
}

@media (max-width: 767px) {
	.amadeus-tabs .amadeus-tabs-wrap {
		display: none;
	}
	.amadeus-tabs .amadeus-tab-content {
		border-top: 0 !important;
	}
}
