@font-face {
  font-family: "amadeus";
  src: url("../font/amadeus.eot");
  src: url("../font/amadeus.eot?xkcldr#iefix") format("embedded-opentype"),
      url("../font/amadeus.woff2?xkcldr") format("woff2"),
      url("../font/amadeus.woff?xkcldr") format("woff"),
      url("../font/amadeus.ttf?xkcldr") format("truetype"),
      url("../font/amadeus.svg?xkcldr#amadeus") format("svg");
  font-style: normal;
  font-weight: 400;
}

[class^="amadeus-"], [class*=" amadeus-"] {
  display: inline-block;
  font-family: "amadeus" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: -.125em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.amadeus-alarm2::before {
  content: "\ea01";
}
.amadeus-camera3::before {
  content: "\ea02";
}
.amadeus-cart-full::before {
  content: "\ea03";
}
.amadeus-chevron-right::before {
  content: "\ea04";
}
.amadeus-dropdown::before {
  content: "\ea05";
}
.amadeus-envelope-open2::before {
  content: "\ea06";
}
.amadeus-eye::before {
  content: "\ea07";
}
.amadeus-file-picture::before {
  content: "\ea08";
}
.amadeus-files-compare::before {
  content: "\ea09";
}
.amadeus-fire::before {
  content: "\ea0a";
}
.amadeus-folder-picture::before {
  content: "\ea0b";
}
.amadeus-fork-knife::before {
  content: "\ea0c";
}
.amadeus-grid::before {
  content: "\ea0d";
}
.amadeus-handwriting::before {
  content: "\ea0e";
}
.amadeus-lamp-bright::before {
  content: "\ea0f";
}
.amadeus-library::before {
  content: "\ea10";
}
.amadeus-link::before {
  content: "\ea11";
}
.amadeus-lock::before {
  content: "\ea12";
}
.amadeus-magnifier-check::before {
  content: "\ea13";
}
.amadeus-mailbox-full::before {
  content: "\ea14";
}
.amadeus-map-marker::before {
  content: "\ea15";
}
.amadeus-menu::before {
  content: "\ea16";
}
.amadeus-menu2::before {
  content: "\ea17";
}
.amadeus-money-pouch::before {
  content: "\ea18";
}
.amadeus-mouse-click-both::before {
  content: "\ea19";
}
.amadeus-mozart::before {
  content: "\ea1a";
}
.amadeus-newsletters::before {
  content: "\ea1b";
}
.amadeus-paper::before {
  content: "\ea1c";
}
.amadeus-pen-drawing::before {
  content: "\ea1d";
}
.amadeus-photo-album::before {
  content: "\ea1e";
}
.amadeus-picture2::before {
  content: "\ea1f";
}
.amadeus-pushpin::before {
  content: "\ea20";
}
.amadeus-search::before {
  content: "\ea21";
}
.amadeus-send-backward::before {
  content: "\ea22";
}
.amadeus-signal::before {
  content: "\ea23";
}
.amadeus-spinner4::before {
  content: "\ea24";
}
.amadeus-star::before {
  content: "\ea25";
}
.amadeus-stop2::before {
  content: "\ea26";
}
.amadeus-stopwatch::before {
  content: "\ea27";
}
.amadeus-text-color::before {
  content: "\ea28";
}
.amadeus-toggle-on2::before {
  content: "\ea29";
}
.amadeus-ul2::before {
  content: "\ea2a";
}
.amadeus-user::before {
  content: "\ea2b";
}
.amadeus-warning-circle::before {
  content: "\ea2c";
}
.amadeus-window-tab::before {
  content: "\ea2d";
}
